n8n-workflows/vapi-callback-workflow.json
{
    "name": "Vapi Callback - Store Results",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-callback",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Vapi Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "vapi-callback"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "call-ended",
                            "leftValue": "={{ $json.body.message.type }}",
                            "rightValue": "end-of-call-report",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "transcript",
                            "leftValue": "={{ $json.body.message.type }}",
                            "rightValue": "transcript",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "status-update",
                            "leftValue": "={{ $json.body.message.type }}",
                            "rightValue": "status-update",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "switch-event-type",
            "name": "Switch on Event Type",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "call_id",
                            "name": "call_id",
                            "value": "={{ $json.body.call.id }}",
                            "type": "string"
                        },
                        {
                            "id": "lead_id",
                            "name": "lead_id",
                            "value": "={{ $json.body.call.metadata.lead_id }}",
                            "type": "string"
                        },
                        {
                            "id": "status",
                            "name": "status",
                            "value": "={{ $json.body.call.status }}",
                            "type": "string"
                        },
                        {
                            "id": "duration",
                            "name": "duration",
                            "value": "={{ $json.body.call.endedAt ? ($json.body.call.endedAt - $json.body.call.startedAt) / 1000 : 0 }}",
                            "type": "number"
                        },
                        {
                            "id": "transcript",
                            "name": "transcript",
                            "value": "={{ $json.body.message.transcript || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "summary",
                            "name": "summary",
                            "value": "={{ $json.body.message.summary || 'Call completed' }}",
                            "type": "string"
                        },
                        {
                            "id": "recording_url",
                            "name": "recording_url",
                            "value": "={{ $json.body.call.recordingUrl || '' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "extract-call-data",
            "name": "Extract Call Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                650,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "call_id",
                            "name": "call_id",
                            "value": "={{ $json.body.call.id }}",
                            "type": "string"
                        },
                        {
                            "id": "lead_id",
                            "name": "lead_id",
                            "value": "={{ $json.body.call.metadata.lead_id }}",
                            "type": "string"
                        },
                        {
                            "id": "transcript_text",
                            "name": "transcript_text",
                            "value": "={{ $json.body.message.transcriptText }}",
                            "type": "string"
                        },
                        {
                            "id": "role",
                            "name": "role",
                            "value": "={{ $json.body.message.role }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "extract-transcript",
            "name": "Extract Transcript",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                650,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"received\": $json.body.message.type } }}",
                "options": {}
            },
            "id": "webhook-response",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "note",
                            "name": "note",
                            "value": "Store this data in your CRM (Airtable, Google Sheets, etc.)",
                            "type": "string"
                        },
                        {
                            "id": "lead_id",
                            "name": "lead_id",
                            "value": "={{ $json.lead_id }}",
                            "type": "string"
                        },
                        {
                            "id": "data",
                            "name": "data",
                            "value": "={{ $json }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "id": "log-for-demo",
            "name": "Log for Demo",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                850,
                200
            ]
        }
    ],
    "connections": {
        "Vapi Webhook": {
            "main": [
                [
                    {
                        "node": "Switch on Event Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch on Event Type": {
            "main": [
                [
                    {
                        "node": "Extract Call Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract Transcript",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Extract Call Data": {
            "main": [
                [
                    {
                        "node": "Log for Demo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log for Demo": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Transcript": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2025-10-14T00:00:00.000Z",
    "versionId": "1"
}